.bg-image {
  background-image: url('images/default-image (4).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.u-section-1 .u-sheet-1 {
  min-height: 724px;
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-block-40a6-6 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.875rem;
  font-family: Adamina;
  font-weight: 700;
  background-image: linear-gradient(to right, #eafdfc, #eafdfc);
}

.u-section-1 .u-table-cell-1 {
  background-image: linear-gradient(#fef9e6, #eafdfc);
}

.u-section-1 .u-table-cell-2 {
  background-image: linear-gradient(to right, #eafdfc, #fbeced);
}

.u-section-1 .u-table-2 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-block-40a6-19 {
  background-image: none;
}

.u-section-1 .u-table-body-2 {
  font-size: 1.5rem;
}

.u-section-1 .u-image-1 {
  width: 50px;
  height: 47px;
  margin: -392px auto 0 28px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -40px 823px 0 84px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -36px 0 0 auto;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 27px 0 0 auto;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px 0 0 auto;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px 0 0 auto;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 38px 0 0 auto;
  padding: 10px 57px 10px 56px;
}

.u-section-1 .u-image-2 {
  width: 50px;
  height: 48px;
  margin: -296px auto 0 23px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px auto 0 84px;
}

.u-section-1 .u-image-3 {
  width: 50px;
  height: 50px;
  margin: 47px auto 0 23px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 774px 0 89px;
}

.u-section-1 .u-image-4 {
  width: 49px;
  height: 42px;
  margin: 44px auto 0 24px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -32px auto 0 89px;
}

.u-section-1 .u-image-5 {
  width: 43px;
  height: 59px;
  margin: 38px auto 0 32px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -46px auto 0 84px;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 48px 405px 60px auto;
  padding: 14px 72px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 707px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 663px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 487px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 443px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 307px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 24px;
    padding-left: 23px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 24px;
    padding-left: 22px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 263px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 107px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-btn-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 63px;
  }

 
}